<tr > {{! 'id="{{lineId}}
  <td>

	<a href="#/{{value1}}">{{value1}}</a>  	
	<div>{{unit}}</div>
</td>
  <td>
	<p class="text-right">{{value2}}</p>
  </td>
  <td>
	<p class="text-right">{{value3}}</p>
  </td>  
  <td>
  {{!<div class = "spark-text"> <svg id="{{value4.id}} {{!"></svg><span>{{value4.lastValue}}{{!</span></div>}} <div id="{{value4.id}}" class="text-center" > <span class = "line-spark text-center"> {{value4.sparklineValues}}</span> <span class ="spark-text"> {{value4.lastValue}}</span></div>
  </td>
  <td><div id="{{value5.id}}" class = "bar-spark text-center">{{value5.sparklineValues}}</div>
</td>
</tr>

{{! Here we plot the sparklines in the graph}}
<script type="text/javascript">

$(document).ready(function () {
 {{! Call Handlebar helper to drawSparklineWithNvd3 }}
  {{!{{drawSparklineWithNvd3 "value4"}}
  {{!{{drawSparkline "value5"}}
  {{!{{drawSparkline "value5"}}
});
</script>
