<tr > {{! 'id="{{lineId}}
  <td>

	<a href="#/{{value1}}">{{value1}}</a>  	
	<!--<div>{{unit}}</div>-->
</td>
  <td class = "text-right">

	{{value2}}
  </td>
  <td class = "text-right">
	{{value3}}
  </td>  
  <td id="{{value4.id}}" class="text-center">
  <span class = "line-spark text-center"> {{value4.sparklineValues}}</span> <span class ="spark-text"> {{value4.lastValue}}</span>
  </td>
  <td id="{{value5.id}}" class = "text-center bar-spark">
</td>
</tr>

{{! Here we plot the sparklines in the graph}}
