<tr > {{! 'id="{{lineId}}
  <td>

	<a href="#/{{value1}}">{{value1}}</a>  	
	<div>{{unit}}</div>
</td>
  <td>
	<p class="text-right">{{value2}}</p>
  </td>
  <td>
	<p class="text-right">{{value3}}</p>
  </td>  
  <td>
  <p class="text-right">{{value4}}</p>
  </td>
  <td>{{value5}}</td>
  
</tr>