<tr id="{{lineId}}">
  <td class = "table-labels">

	<a href="pages/?value={{value1}}">{{value1}}</a>  	
	<div>{{unit}}</div>
</td>
  <td>{{value2}}</td>
  <td>{{value3}}</td>
  <td>{{value4}}</td>
  <td>{{value5}}</td>
</tr>