<div class="widget-size-1x1">
  <div class="ui-widget-header ">
    <i class="{{icon}}"></i><h>{{title}}</h>
  </div>
  <section class="widget-body rag-widget no-title">
    <div class = 'widget-canvas'>
      <table>
        <tbody>
          <tr>
            <td class = "t-size-x48 number positive text-right">{{max.data}}</td>
            <td class = "t-secondary">{{max.label}}</td>
          </tr>
          <tr>
            <td class = "t-size-x48 number level text-right">{{mean.data}}</td>
            <td class = "t-secondary">{{mean.label}}</td>
          </tr>
          <tr>
            <td class = "t-size-x48 number negative text-right">{{min.data}}</td>
            <td class = "t-secondary">{{min.label}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>