<div class="widget-inner  widget-size-1x1">
  <div class="ui-widget-header ">
    <i class="{{icon}}"></i><h>{{title}}</h>
  </div> 
  <!--<a class="led success" href="#"></a>-->
  <section class="widget-body monitoring-widget">
    <div class="widget-canvas">
      <div class="status positive text-center">
        <div class=" visitor-spark text-center">
          {{mean.data}}
      </div>
      </div>
      <div class="server-times">
        <div class="server-time">
          <div class="label t-size-x10">  {{max.label}} </div>
          <div class="t-size-x24 ">{{max.data}}ms</div>
        </div>
        <div class="server-time">
          <div class="label t-size-x10">  {{min.label}} </div>
          <div class="t-size-x24 ">{{min.data}}ms</div>
        </div>
      </div>
    </div><!-- .widget-canvas -->
  </section>    
</div>